* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  color: white;
}

.red {
  width: 20%;
  float: left;
}

.blue {
  width: 50%;
  float: right;
}

.pink {
  width: 20%;
  float: right;
}

.lightBlue {
  float: left;
  width: 30%;
}

.yellow {
  width: 50%;
  float: left;
}

.black {
  float: left;
  width: 50%;
}

.green {
  width: 80%;
  float: right;
}
