* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

ul {
  list-style-type: none;
  font-size: 24px;
}

.btn {
  margin-top: 30px;
  cursor: pointer;
  border: 1px solid black;
  outline: none;
  width: 400px;
  height: 60px;
  border-radius: 6px;
  color: #fff;
  background: transparent;
  text-transform: uppercase;
  font-size: 1.5rem;
  transition: 0.1s linear;
  background: #29296e;
  letter-spacing: 2px;
}

.btn-default {
  width: 200px;
  height: 50px;
  border: none;
  font-family: "Roboto", sans-serif;
  margin-bottom: 50px;
  background: #29296e;
  color: #fff;
  border-radius: 6px;
  transition: 0.1s linear;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* .btn-default:hover {
  background: transparent;
  border: 1px solid orange;
  color: black;
} */

input {
  text-align: center;
  border: 1px solid black;
  padding: 20px 20px;
  font-family: "Roboto", sans-serif;
  outline: none;
  width: 250px;
  height: 50px;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 16px;
}

.header {
  width: 100%;
  padding: 15px 15px;
  background-color: #29296e;
}

.title {
  font-size: 27px;
  color: #fff;
}

.game {
  padding: 50px 15px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hide {
  display: none;
}

.points {
  padding: 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

.points li + li {
  margin-top: 3px;
}

.points li {
  padding: 5px 5px;
}

.orange {
  background-color: orange;
  border-radius: 6px;
  color: #fff;
}

/* JS */

.quiz {
  display: flex;
  align-self: center;
}

/* (A) WRAPPER */
#quizWrap {
  max-width: 100%;
  /* RECOMMENDED FIXED HEIGHT IF YOU HAVE CONTENT BELOW THE QUIZ */
  /* SO THAT PAGE LAYOUT DOES NOT "JUMP" */
  /* height: 250px; */
}

/* (B) QUESTION */
#quizQn {
  padding: 20px;
  background: #29296e;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  word-wrap: normal;
}

/* (C) ANSWERS */
#quizAns {
  margin: 10px 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  width: 100%;
}
#quizAns input[type="radio"] {
  display: none;
}
#quizAns label {
  width: 400px;
  background: white;
  border: 1px solid #b1aeae;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  transition: 0.1s linear;
}

#quizAns label:hover {
  border: 1px solid orange;
}

#quizAns label.correct {
  background: #d8ffc4;
  border: 1px solid #60a03f;
}
#quizAns label.wrong {
  background: #ffe8e8;
  border: 1px solid #c78181;
}

/* Game Over */

.game__end {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100vh;
}

.game__end .title {
  margin-top: 50px;
  font-size: 55px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game__end .btn {
  margin-top: 50px;
}

.restart__btn:hover {
  border: 1px solid orange;
  background: #fff;
  color: black;
}

.special__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timer {
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
  border-radius: 50%;
  border: 2px solid #29296e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.special {
  color: #00a1a1;
}

/* TIMER */

.base-timer {
  position: relative;
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}
