* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  color: #ffffff;
  width: 100px;
  height: 100px;
}

.first {
  background-color: #ff0000;
  position: absolute;
  top: 100px;
  left: 100px;
}

.second {
  top: 0;
  left: 0;
  position: absolute;
  background-color: #008000;
}

.third {
  position: absolute;
  top: 0;
  left: 100px;
  background-color: #0000ff;
}

.fourth {
  position: absolute;
  top: 100px;
  background-color: #000000;
}
