* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 36px;
}

ul {
  display: inline-block;
  list-style-type: none;
}

.level-2:hover > ul {
  display: block;
}

.level-2 > ul {
  display: none;
  background: red;
  position: absolute;
  width: 245px;
  top: 45px;
  padding-left: 90px;
}
