div {
  background-color: #ff0000;
  width: 100px;
  height: 100px;
}

p {
  background-color: #0000ff;
  height: 50%;
  width: 50%;
}

div p:first-child {
  margin-left: 50%;
  margin-bottom: 0;
}

div p:last-child {
  margin: 0;
}